@import '../styles/global.scss';

h1 {
  margin: 48px 0 28px 0;
  font-size: 24px;
  font-weight: 800;
}

table {
  width: 100%;
  border-collapse: collapse;

  th,
  td {
    padding: 18px 20px 18px 30px;
    text-align: left;
  }
  td {
    border-bottom: 1px solid rgba($soft-color, 0.6);
  }

  th {
    background-color: $soft-color;

    &:first-child {
      border-top-left-radius: 8px;
      border-bottom-left-radius: 8px;
    }

    &:last-child {
      border-top-right-radius: 8px;
      border-bottom-right-radius: 8px;
    }
  }
}
