@import '../styles/global.scss';

h1 {
  margin: 48px 0 28px 0;
  font-size: 24px;
  font-weight: 800;
}

.events-container {
  background-color: white;
  padding: 15px;
  max-height: 70vh;
  overflow-y: auto;
}

.card {
  padding: 20px;
}