@import '../styles/global.scss';

.new-event-container {
  max-width: 740px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .title {
    width: 550px;
    text-align: left;

    h1 {
      font-family: $main-font;
      font-weight: 900;
    }
  }

  .form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    input {
      width: 550px;
      height: 52px;
      padding-left: 18px;
      background-color: $soft-color;
      font-size: 16px;
      font-weight: 500;
      margin-top: 28px;
      border-radius: 4px;
      border: none;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    .date-input {
      width: 250px;
      padding-right: 20px;
      font-size: 16px;
      border-radius: 4px;
      border: none;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    textarea {
      width: 520px;
      padding: 18px;
      height: 150px;
      background-color: $soft-color;
      font-size: 15px;
      margin-top: 28px;
      font-weight: 500;
      border-radius: 4px;
      border: none;
      resize: none;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    .btn {
      width: 150px;
      padding: 0;
      margin-top: 50px;
      font-weight: 600;
      background-color: #ffcc66;
      cursor: pointer;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

      &:hover {
        transition: all ease-in-out 300ms;
        background-color: rgb(233, 183, 83);
      }
    }
  }

  .select-input {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 28px;

    select {
      width: 230px;
      height: 52px;
      padding-left: 18px;
      background-color: $soft-color;
      font-size: 15px;
      border-radius: 4px;
      outline: none;
      border: none;
      font-weight: 500;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

      option {
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        font-size: 15px;
        font-weight: 500;
      }
    }
  }
}
