// background
$main-bg: #a5a5a5;
$secundary-bg: #323232;

// Font color
$main-color-font: #ededed;
$secundary-color-font: #000;

// Button color
$soft-color: #ffffff;

// font
$main-font: 'DM Sans', sans-serif;
$secundary-font: 'Staatliches', sans-serif;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: $main-font, sans-serif;
}

body {
  background-color: $main-bg;
}

.main-container {
  max-width: 1060px;
  margin: 0 auto;
  font-weight: 500;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 6px;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}
