@import '../../styles/global.scss';

.card {
  border-radius: 5px;
  margin-bottom: 15px;
  padding: 15px;
  border-bottom: 1px solid #ccc;
}

.card-header {
  display: grid;
  grid-template-columns: max-content auto max-content;
  align-items: center;
  margin-bottom: 10px;

  .title {
    padding: 0 24px;
    font-size: 24px;
    font-weight: bold;
    margin: 0;
  }

  span {
    font-size: 14px;
    padding: 0 24px;
  }

  p {
    font-size: 14px;
    padding: 0 24px;
  }
  .containerDetails {
    display: flex;
  }
  button {
    padding: 8px 12px;
    background-color: #46484b;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  button:hover {
    background-color: $secundary-bg;
  }
}

.card-body {
  p {
    margin: 5px 0;
  }
  div {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
  }
}
